/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}

body{
  font-family: 'Montserrat';
  background-image: url('./assets/images/backgroud-app.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "~bootstrap/dist/css/bootstrap.css";
