<div class="container">
  <h1>Bienvenido a mi app :D</h1>

  <h2>¿Qué deseas hacer?</h2>

  <!-- <button>Crear un nuevo usuario y reservación</button>

  <button class="admin">
    Ingresar al dashboard administrativo (SOLO USUARIOS ADMINISTRADORES)
  </button> -->
  <a
    routerLink="users-reservations"
    class="button"
  >
    Crear un nuevo usuario y reservación
  </a>

  <a
    routerLink="login"
    class="button"
  >
    Ingresar al dashboard administrativo (SOLO USUARIOS ADMINISTRADORES)
  </a>
</div>


